body {
    font-family: 'Dosis', sans-serif;
    margin:auto;
}

#main {
    background:url(flowers.jpeg);
    background-size:100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index:-1;
}

/* Transitions */
#topstuff, #flexy {
    opacity:0;
    transform:scale(0.9);
    transition:all 1s ease-out;
}

/* Title */

#topstuff {
    max-width:1000px;
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:center;
}

#topstuff p {
    padding-top:2rem;
    margin:0;
    color:#9E425E;
    text-shadow: 0 0 5px whitesmoke;
}

#topstuff p:nth-child(1) {
    font-family: 'Niconne', cursive;
    font-size:42pt;
    padding-right:1rem;
}

#topstuff p:nth-child(2) {
    font-family: 'Dosis', sans-serif;
    font-size:14pt;
    font-weight:bold;
    transform:scale(0);
    transition:transform 1s ease-out;
}

/* Main Content (Flex Container) */
.flex__container {
    display:flex;
    flex-flow:row wrap;
    width:100%;
    max-width:1000px;
}
.flex__container .flex__box {
    margin:2% 2% 0 2%;
    background-color:#E695B5;
    box-shadow:0 0 16px lightgray;
}

.flex__container .flex__box:nth-child(1), .flex__box:nth-child(3) {
    flex:1;
}

.flex__container .flex__box:nth-child(2) {
    flex:3;
    padding:2%;
}

/* Front Image */
#front {
    height:50vw;
    max-height:440px;
    width:100%;
    background-image:url('images/front1.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    transition: background-image 0.8s ease-out;
}

.hideme {
    display:none;
}

/* Navigation */
.nav {
    display:flex;
    flex-direction:column;
    list-style:none;
    margin:0;
    padding:0;
}
.nav__link {
    flex:1;
    text-align:center;
    margin:0;
    transition:background-color 0.3s ease-in-out;
    padding:0 2vw;
    line-height:450%;
    color:white;
    font-size:16pt;
}
.nav__link:hover {
    cursor: pointer;
}

.nav__link:hover, .nav__link[data-pos="1"] {
    background-color:#FFD1DC;
    color:black;
}

#content {
    height:100%;
    opacity:0;
    background-color:rgba(19,19,19,0.6);
    transition: all 0.8s ease-out;
}

#content p {
    margin:auto;
    padding:20% 10% 0;
    font-size:2rem;
    color:whitesmoke;
    text-shadow: 1px 1px 2px #B36282, -1px -1px 2px #FFD1DC;
}


/* Reponsive Controls */
@media screen and (max-width:869px) {
    #topstuff {
        flex-direction:column;
    }

    #topstuff p:nth-child(1) {
        font-size:11.5vw;
        padding:0;
    }

    #topstuff p:nth-child(2) {
        font-size:3.5vw;
        padding:0;
    }

    #front {
        height:100%;
        max-height:none;
    }

    .flex__container .flex__box {
        margin:5% 5% 0 5%;
    }

    .flex__container .flex__box:nth-child(1) {
        margin-right:0;
        order:1;
        box-shadow:-8px 8px 8px -8px lightgray, -8px -8px 8px -8px lightgray;
    }

    .flex__container .flex__box:nth-child(3) {
        margin-left:0;
        order:2;
        box-shadow:8px 0 8px 0 rgba(300,300,300,0.7);
    }

    .nav {
        flex-direction:row;
        margin:0;
    }

    .nav__link {
        line-height:50px;
    }

    .flex__container .flex__box:nth-child(2) {
        min-width:40vw;
        height:80vw;
        order:3;
    }
}